body {
    font-family: 'Raleway', sans-serif;
    color: #FFC500;
    background: #1C1C19;
    margin: 3em;
}

.portfolio {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
} 

.page-title{
    text-align: center;
    color: #FFC500;
    grid-column: 1 / -1;
}

img {
    max-width: 100%;
}

.Card {
    box-shadow: 0 0 1em rgba(0,0,0,.25);
    padding: 1em;
    background: #5c0000;
}

.title {
    font-size: 1.5rem;
    color: #000;
}

.title{
    color: #FFC500;
}
